<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'front',
	pageJavascript: 'front'
}) %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
<%-include('../_templates/_header.front.ejs', {
	pageName: 'a',
}) %>
		<!-- page-body -->
		<div class="page-body page-post-view">
			<!-- local -->
			<div id="local">
				<!-- local-head -->
				<div class="local-head">
					<h2 class="local-title" id="localTitle"><span class="local-name">고객만족 조사</span></h2>
				</div>
				<!-- //local-head -->
				<!-- local-body -->
				<div class="local-body">
					<!-- content -->
					<div id="content">
						<!-- content-head -->
						<div class="content-head">
							<h3 class="content-title" id="contentTitle">
								<span class="content-name">고객만족 조사</span>
							</h3>
							<!-- content-path -->
							<p class="content-path">
								<span class="path-head">현재위치 :</span>
								<span class="path-body">
									<a class="data-home" href="/">홈</a>
									<span class="data-flow">&gt;</span>
									<a class="data-item" href="#">고객만족 조사</a>
									<span class="data-flow">&gt;</span>
									<strong class="data-item current">고객만족 조사</strong>
								</span>
							</p>
							<!-- //content-path -->
						</div>
						<!-- //content-head -->
						<!-- content-body -->
						<div class="content-body">

							<!-- post-display -->
							<div class="post-display module-a">
								<%-include('../../front/_mixin/_post.read.survey.ejs', {
									postStateClass: 'closing',
									postStateText: '설문마감'
								}) %>
								<div class="post-util">
									<div class="button-area module-a style-a type-c">
										<a class="btn module-b style-c type-line normal-03 large" href="#"><span class="btn-text">목록</span></a>
									</div>
								</div>
							</div>
							<!-- //post-display -->
						</div>
						<!-- //content-body -->
					</div>
					<!-- //content -->
				</div>
				<!-- //local-body -->
				<%-include('../_templates/_local.util.ejs') %>
			</div>
			<!-- //local -->
		</div>
		<!-- //page-body -->
<%-include('../_templates/_footer.front.ejs', {
}) %>
	</div>
	<!-- //page -->
</div>
<hr />
<%-include('../_templates/_content.popup.ejs') %>
<script stype="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		// infoPopup.active('contentsShare');
	});
</script>
</body>
</html>